
@media (min-width: 768px) {
    .container-sm {
        width: 300px;
    }
}
@media (min-width: 992px) {
    .container-sm {
        width: 500px;
    }
}
@media (min-width: 1200px) {
    .container-sm {
        width: 700px;
    }
}

.container-sm {
    max-width: 100%;
}